{% extends 'base_course.html' %}

{% block subtitle %}
{# I18N: Title of the G-Defier block webpage. #}
Arena
{% endblock subtitle %}

{% block top_content %}
  <a href="gDefier/block?title={{defy.block_board.blockID}}">
  Go to block "{{defy.block_board.blockID}}"
  </a>
  <div class="gcb-cols">
	<h1 class="gcb-col-12 gcb-aside" align="center" style="color:#F44F4F">
	{{defy.rname}} VS {{defy.lname}} 
	</h1>
</div>
{% endblock %}

{% block main_content %}
<link rel="stylesheet" type="text/css" href="assets/css/butterbar.css" media="screen" />
<button id="first">First</button>
<button id="second">Second</button>
<div id="khan1">
{{ questions[0] | gcb_tags}}
</div>
<div id="khan2">
{{ questions[1] | gcb_tags}}
</div>

<style>
#khan1 {
display: none;
float: center;
}
#khan2 {
display: none;
float: center;
}
#second {
display: none;
}
</style>

<script>
$( "#first" ).click(function() {
	$( "#khan1" ).show( "fast");
	$( "#first" ).hide();
    setTimeout(function() {
    	$( "#khan1" ).hide();
    	$( "#second" ).show( "fast");
    }, 10000);
});
$( "#second" ).click(function() {
	$( "#khan2" ).show( "fast");
    setTimeout(function() {
    	$( "#khan2" ).hide();
    	$( "#second" ).hide();
    }, 10000);
});
</script>

{% endblock %}
