{% extends 'base_course.html' %}

{% block subtitle %}
{# I18N: Title of the G-Defier space webpage. #}
{{ gettext('G-Defier space') }}
{% endblock subtitle %}

{% block top_content %}
  {% if gDefier_transient_student %}
    {% include '../modules/gDefier/templates/gDefier_registration_module.html' %} 
  {% endif %}
{% endblock %}

{% block main_content %}
  {% if not gDefier_transient_student %}
  	  <div class="gcb-col-10" >
	{% for number in range(entity.module.blocks.__len__()) %}
		<div align="center">
	       <a class="gcb-button gcb-button-large" href='gDefier/block?title={{entity.module.blocks[number].block_title}}'>
	           {# I18N: G-Defier start block button on the main page of the module. #}
	           Block "{{entity.module.blocks[number].block_title}}"
	       </a>
           <section id="n{{number}}" class="container">
			   <input type="radio" class="radio" name="progress" value="{{prctng[number]}}" id="{{prctng[number]}}">
			   <label for="{{prctng[number]}}" class="label">{{prctng[number]}}% completed</label>
			   <div class="progress" id="n{{number}}" >
			     <div class="progress-bar"  id="n{{number}}"></div>
			   </div>
  			</section>
		  </div>
	{% endfor %}
		  </div>
  {% endif %}

<!--  <div style="margin-top: 20px;" class="gcb-cols"> -->
<!--       <div class="gcb-col-1"> -->
<!--       </div> -->
<!--       <div class="gcb-col-9"> -->

<!--         <h1 class="gcb-unit-header"> -->
<!--           {# I18N: This should be interpreted as a noun. It is the title for the course schedule on the main contents page. #} -->
<!--           {{ gettext('G-Defier Module Settings') }} -->
<!--         </h1> -->
<!--         <div id="gcb-main"> -->
<!--           <div style="width: 100%;" class="gcb-nav" id="gcb-nav-y">	 -->
<!-- 		    {% for key in entity.module recursive %} -->
<!-- 		        <li>{{ key }} : {{ entity.module[key] }}</li>	 -->
<!-- 		    {% endfor %} -->
<!-- 		  </div> -->
<!--       </div> -->
<!--     </div> -->

<style type="text/css">
{% include 'resources/css/buttons.css' %}
{% include 'resources/gritter/css/jquery.gritter.css' %}
{% include 'resources/css/style.css' %}
</style>  

<div id='wrapper'>
	<div class='cool_btn1 green' id='sticky-wins'>
		<h1 class='top'>{{player.wins}} <i>Wins</i></h1>
		<h2>l</h2>
	</div>
	<div class='cool_btn1 red' id='sticky-lost'>
		<h1 class='top'>{{player.lost}} <i>Lost</i></h1>
		<h2>L</h2>
	</div>
	<div class='cool_btn1 orange' id='sticky-score'>
		<h1 class='top'>{{player.score}}<i>Score</i></h1>
		<h2>)</h2>
	</div>
	<div class='cool_btn1 teal' id='sticky-attempts'>
		<h1 class='top'>{{player.attempts}} <i>Attempts</i></h1>
		<h2>Z</h2>
	</div>
	<div class='cool_btn1 magent' id='sticky-fails'>
		<h1 class='top'>{{player.fails}} <i>Fails</i></h1>
		<h2>x</h2>
	</div>
	<div class='cool_btn1 yellow' id='sticky-hints'>
		<h1 class='top'>{{player.hints}} <i>Hints</i></h1>
		<h2>?</h2>
	</div>
</div>
<h1 class="gcb-col-12" align="center" style="color:#555555">
Click on any badge to see classifications !!!
</h1>
<script type='text/javascript'>
{% include 'resources/gritter/js/jquery.gritter.js' %}

$(function(){

	// global setting override

	$.extend($.gritter.options, {
	    //class_name: 'gritter-light', // for light notifications (can be added directly to $.gritter.add too)
	    //position: 'bottom-left', // possibilities: bottom-left, bottom-right, top-left, top-right
		fade_in_speed: 100, // how fast notifications fade in (string or int)
		fade_out_speed: 100, // how fast the notices fade out
		time: 15000 // hang on the screen for...
	});

	$('#sticky-wins').click(function(){
		$.post( window.location, { classification : "wins"},function( classification ) {
				var unique_id = $.gritter.add({
					title: '<div align="center" style="color:#2fd51d">WINS Classification</div>',
					text: classification,
					sticky: false,
					time: '',
					class_name: 'my-sticky-class'
				});
				return false;
			}
		);
 	});
	$('#sticky-lost').click(function(){
		$.post( window.location, { classification : "lost"},function( classification ) {
			var unique_id2 = $.gritter.add({
				title: '<div align="center" style="color:#FE2E2E">LOST Classification</div>',
				text: classification,
				sticky: false,
				time: '',
				class_name: 'my-sticky-class'
			});
			return false;
		});
	});
	$('#sticky-score').click(function(){
		$.post( window.location, { classification : "score"},function( classification ) {
			var unique_id3 = $.gritter.add({
				title: '<div align="center" style="color:#f49e23">SCORE Classification</div>',
				text: classification,
				sticky: false,
				time: '',
				class_name: 'my-sticky-class'
			});
			return false;
		});
	});
	$('#sticky-attempts').click(function(){
		$.post( window.location, { classification : "attempts"},function( classification ) {
			var unique_id4 = $.gritter.add({
				title: '<div align="center" style="color:#11b8fe">ATTEMPTS Classification</div>',
				text: classification,
				sticky: false,
				time: '',
				class_name: 'my-sticky-class'
			});
			return false;
		});
	});
	$('#sticky-fails').click(function(){
		$.post( window.location, { classification : "fails"},function( classification ) {
			var unique_id5 = $.gritter.add({
				title: '<div align="center" style="color:#D358F7">FAILS Classification</div>',
				text: classification,
				sticky: false,
				time: '',
				class_name: 'my-sticky-class'
			});
			return false;
		});
	});
	$('#sticky-hints').click(function(){
		$.post( window.location, { classification : "hints"},function( classification ) {
			var unique_id6 = $.gritter.add({
				title: '<div align="center" style="color:#F7FE2E">HINTS Classification</div>',
				text: classification,
				sticky: false,
				time: '',
				class_name: 'my-sticky-class'
			});
			return false;
		});
	});
});
</script>
{% endblock %}
