{% extends 'base_course.html' %}

{% block subtitle %}
{# I18N: Title of the G-Defier block webpage. #}
Block "{{ b_info.block_title }}"
{% endblock subtitle %}

{% block top_content %}
<center>
<div class="breadcrumb">
	<a href="gDefier/home">G-Defier Home</a>
	<a class="active" >Block "{{ b_info.block_title }}"</a>
</div>
</center>
<!-- <div class="gcb-cols"> -->
<!-- 	<h1 id="H1" class="gcb-col-12 gcb-aside" align="center" style="color:#555555"> -->
<!-- 		G-Defier Block "{{ b_info.block_title }}": {{b_info["w_block"]}}/{{w_module}} points -->
<!-- 	</h1> -->
<!-- </div> -->
{% endblock %}

{% block main_content %}
<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King|Raleway:400' rel='stylesheet' type='text/css'>
<blockquote>
<div class="parent">
<div >
	<h1 id="H1"  align="center" style="font-size: xx-large;color:#555555">
		G-Defier Block "{{ b_info.block_title }}": {{b_info["w_block"]}}/{{w_module}} points
	</h1>
</div>

  <div class="left" align="center">
	<h1 id="H1"> Waiting for... </h1>
	    {% for key in b_stats recursive %}
	    	{% if key == 'sends'%}
 		        <li>{{b_stats["sends"]}}</li>
			{% endif %}
	    {% endfor %}
	<h1 id="H1"> Requests </h1>
	    {% for key in b_stats recursive %}
	    	{% if key == 'request'%}
   		        {% for inv in invitations recursive %}
   		        	<li><a onclick="acceptRequest()" id="inv">{{inv}}</a></li>
   		        {% endfor %}
			{% endif %}
	    {% endfor %}
  </div>
  <div class="right" align="center">
    <br><br>
	Please choose an opponent<br> to send an invitation:
	<form id="form1" method='get'>
		<select size="{{players.__len__()}}" id="challenge2">
			{% for p in players %}
			<option>{{p}}</option>
			{% endfor %}
		</select>
	</form>
	<button class="gcb-button" type="button" onclick="displayResult()">
	Send Invitation
	</button>
  </div>
  <div class="center" align="center">
	<h1 id="H1">My ongoing defies</h1>
    {% for def in my_defies recursive %}
    	{% if not def.rended or not def.lended%} 
	       	{% if user == def.rname%}    	
		   	<li><a href="gDefier/arena?defy={{def.key()}}">{{def.lname}}</a></li>	
			{% else %} 
	     	<li><a href="gDefier/arena?defy={{def.key()}}">{{def.rname}}</a></li>	
			{% endif %}
	 	{% endif %}       
    {% endfor %}
   	<h1 id="H1">My ended defies</h1>
    {% for def in my_defies recursive %}
   		{% if def.rended and def.lended %}
	       	{% if user == def.rname%}    	
		   	<li><a href="gDefier/arena?defy={{def.key()}}">{{def.lname}}</a></li>	
			{% else %} 
	     	<li><a href="gDefier/arena?defy={{def.key()}}">{{def.rname}}</a></li>	
			{% endif %}
	  	{% endif %}      
    {% endfor %}
  </div>
</div>
</blockquote>
<div id='wrapper'>
	<div class='cool_btn1 green' id='sticky-wins'>
		<h1 class='top'>{{b_stats["wins"]}} <i>Wins</i></h1>
		<h2>l</h2>
	</div>
	<div class='cool_btn1 red' id='sticky-lost'>
		<h1 class='top'>{{b_stats["lost"]}} <i>Lost</i></h1>
		<h2>L</h2>
	</div>
	<div class='cool_btn1 orange' id='sticky-score'>
		<h1 class='top'>{{block.score[0]}}<i>Score</i></h1>
		<h2>)</h2>
	</div>
	<div class='cool_btn1 teal' id='sticky-attempts'>
		<h1 class='top'>{{block.score[1]}}<i>Attempts</i></h1>
		<h2>Z</h2>
	</div>
	<div class='cool_btn1 magent' id='sticky-fails'>
		<h1 class='top'>{{block.score[2]}}<i>Fails</i></h1>
		<h2>x</h2>
	</div>
	<div class='cool_btn1 yellow' id='sticky-hints'>
		<h1 class='top'>{{block.score[3]}}<i>Hints</i></h1>
		<h2>?</h2>
	</div>
</div>
<script>
function displayResult(){
	var x=document.getElementById("challenge2").selectedIndex;
	var y=document.getElementById("challenge2").options;
	window.location = window.location + '&request=' + y[x].text;
}

function acceptRequest()
{
var inv = document.getElementById('inv').text;
var conf = "\" has sent you an invitation to a challenge. Do you accept it?"
var r = confirm("\"" + inv + conf);
if (r==true) {
	window.location = window.location + '&accept=' + inv;
} else {
	window.location = window.location + '&reject=' + inv;
  }
}
</script>

<style type="text/css">
{% include 'resources/css/buttons.css' %}
{% include 'resources/css/breadcrumb.css' %}
{% include 'resources/css/notebook.css' %}

.cool_btn1 {
border-radius: 10px;
}

.parent{
    width:100%;
    heigth: 100%;
    min-height:100%;
    overflow:hidden;
}
.left{
    float:left;
    width:33%;
    height: 100%;
    overflow:hidden;
    }
.right{
	float:right;
    width:34%;
    height: 100%;    
    overflow:hidden;
}   
.center{
	float:center;
    width:33%;
    height: 100%;    
    overflow:hidden;
}

#H1{
font-family: Loved by the King;
}
blockquote{
    width: 800px;
}
</style>
{% endblock %}