{% extends 'base_course.html' %}

{% block subtitle %}
{# I18N: Title of the G-Defier block webpage. #}
Arena
{% endblock subtitle %}

{% block top_content %}
<center>
<div class="breadcrumb">
	<a href="gDefier/home">G-Defier Home</a>
	<a href="gDefier/block?title={{defy.block_board.blockID}}" >Block "{{defy.block_board.blockID}}"</a>
	<a class="active">Arena</a>
</div>
</center>

	<h1 id="H1" align="center" style="color:#555555">
	{{defy.lname}}<font class="gcb-col-12 gcb-aside" align="center" color="#F44F4F"> VS </font>{{defy.rname}}
	</h1>
{% endblock %}

{% block main_content %}

{% if side == 'left' %}
	{% set side_ended = defy.lended %}
	{% set defy_round = defy.lround %}
{% else %}
	{% set side_ended = defy.rended %}
	{% set defy_round = defy.rround %}
{% endif %}

{% if not side_ended%}
	<center>
	<div align=center class= "container">
		<div class="countdown retro" id="countdown"></div>
	</div>
	{% for number in range(rounds) %}
		{% if number==0 %}
		    <button class="button green back xl" id="first">START</button>
		{% elif number==rounds-1 %}
			<button class="button orange shield xl" id="last">LAST</button>
		{% else %}
			<button class="button blue brackets xl" data-icon="✔" id="next{{number}}" onclick="next_button({{number}})">NEXT</button>
		{% endif %}
	 	<div align=center id="khan{{number+1}}">
			{{ questions[number] | gcb_tags}}
		</div>
	<center>
	{% endfor %}
{% else %}
<div class= "arena_container" width="800px">
	<div class="arena_lname" >
		<blockquote>
		<cite>{{defy.lname}}</cite>
	    <p><font style="font-size: x-large;" color="#0187b8">Right answers:</font> +{{defy.lscore[1]-defy.lscore[2]}}x50={{(defy.lscore[1]-defy.lscore[2])*50}}<br> 
	       <font style="font-size: x-large;" color="#6A0888">Fails: </font> -{{defy.lscore[2]}}x15={{defy.lscore[2]*15}}<br>
			   <font style="font-size: x-large;" color="#5E610B">Hints: </font> -{{defy.lscore[3]}}x20={{defy.lscore[3]*20}}<br>
	       <font style="font-size: x-large;" color="#f49e23">Final Score = </font><font style="font-size: xx-large;"> {{defy.lscore[0]}}</font><br><br>	    	

		{% if defy.rended and defy.lended%}
 			{% if defy.lscore > defy.rscore %}
				<font style="font-size: xx-large;" color="#2fd51d">WINNER</font>
			{% else %}
				<font style="font-size: xx-large;" color="#FE2E2E">LOOSER</font>
			{% endif %}
		{% else%}
 			 <font style="font-size: xx-large;">Waiting for the opponent...</font>
		{% endif %}
			    </p>
		</blockquote>
	</div>
	<div class="arena_rname" >
		<blockquote>
		<cite>{{defy.rname}}</cite>	
	    <p><font style="font-size: x-large;" color="#0187b8">Right answers:</font> +{{defy.rscore[1]-defy.rscore[2]}}x50={{(defy.rscore[1]-defy.rscore[2])*50}}<br> 
	       <font style="font-size: x-large;" color="#6A0888">Fails: </font> -{{defy.rscore[2]}}x15={{defy.rscore[2]*15}}<br>
			   <font style="font-size: x-large;" color="#5E610B">Hints: </font> -{{defy.rscore[3]}}x20={{defy.rscore[3]*20}}<br>
	       <font style="font-size: x-large;" color="#f49e23">Final Score = </font><font style="font-size: xx-large;"> {{defy.rscore[0]}}</font><br><br>	    	
 		{% if defy.rended and defy.lended%}
 			{% if defy.rscore > defy.lscore %}
				<font style="font-size: xx-large;" color="#2fd51d">WINNER</font>
			{% else %}
				<font style="font-size: xx-large;" color="#FE2E2E">LOOSER</font>
			{% endif %}
		{% else %}
 			 <font style="font-size: xx-large;">Waiting for the opponent...</font>
		{% endif %}
			    </p>
		</blockquote>
	</div>
</div>	
{% endif %}
<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King|Raleway:400' rel='stylesheet' type='text/css'>
<style type="text/css">
{% include 'resources/css/buttons.css' %}
{% include 'resources/css/buttons2.css' %}
{% include 'resources/countdown/style.css' %}
{% include 'resources/css/breadcrumb.css' %}
{% include 'resources/css/notebook.css' %}

{% if defy_round == 0 %}
#last, [id^="next"], [id^="khan"], #countdown{
display: none;
}
{% else %}
	{% if rounds <=  2 %}
	#first, [id^="khan"], #countdown{
	display: none;
	}
	{% elif rounds == defy_round+1 %}	
	#first, [id^="next"], [id^="khan"], #countdown {
	display: none;
	}	
	{% else %}
	#first, #last, [id^="next"], [id^="khan"], #countdown {
	display: none;
	}	
	[id$="next{{defy_round}}"] {
	display: inline;
	}	
	{% endif %}
{% endif %}	

#H1{
font-family: Loved by the King;
} 
blockquote{
    width: 300px;
}
	
</style>
<!-- <script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script> -->
<script type='text/javascript'>

{% include 'resources/countdown/jquery.countdown.js' %}

var t_round = "{{ t_round }}";
//var counter = 60000 * t_round;
var counter = 10000;

var rounds = "{{ rounds }}";
var defy_round = "{{ defy_round }}";

$( "#first" ).click(function() {
	$( "#countdown" ).show( "fast");
	$( "#khan1" ).show("fast");
	$( "#first" ).hide();
	if (rounds != 1)
		$.post( window.location, { button: 1, side: "{{side}}"});
	countdown(counter);
    setTimeout(function() {
    	$( "#khan1" ).hide();
    	if (rounds>2){
    		$("#next1").show("fast");    		
    	} else if (rounds==2){
    		$( "#last" ).show("fast");
    	} else {
        	window.location = window.location + '&end={{side}}';
    	}
    }, counter);
});

function next_button(i) {
	$("#khan"+(i+1).toString()).show("fast");
	$("#next"+(i).toString()).hide();
	$.post( window.location, { button: i+1, side: "{{side}}"});
	
	if($('#countdown').is(':visible'))
		update_countdown(counter);
	else{
		$( "#countdown" ).show( "fast");
		countdown(counter);
	}
	
    setTimeout(function() {
    	$("#khan"+(i+1).toString()).hide();
		if (i == rounds-2){
			$("#last").show("fast");
		}else{
			$("#next"+(i+1).toString()).show("fast");
		}
    }, counter);
}

$( "#last" ).click(function() {
	if (rounds==2)
		$( "#khan2" ).show( "fast");
	else if (rounds>2)
		$("#khan"+rounds.toString()).show( "fast");
	$( "#last" ).hide();
	
	if($('#countdown').is(':visible'))
		update_countdown(counter);
	else{
		$( "#countdown" ).show("fast");
		countdown(counter);
	}
	
    setTimeout(function() {
    	$("#khan"+rounds.toString()).hide();
    	window.location = window.location + '&end={{side}}';
    }, counter);
});

function countdown(counter) {
	  $('.countdown.retro').countdown({
	    date: +(new Date) + counter,
	    render: function(data) {
	        $(this.el).text(this.leadingZeros(data.min, 2) + " min and " + this.leadingZeros(data.sec, 2) + " sec");
	    },
	    onEnd: function() {
	      $(this.el).addClass('ended');
	    }
	});
}	  
function update_countdown(counter) {
       $('.countdown.retro').removeClass('ended').data('countdown').update(+(new Date) + counter).start();
}
</script>
<!-- 	<nav class="demo"> -->
		
<!-- 		<a href="#" class="button  xl">Button</a> -->
<!-- 		<a href="#" data-icon="✆" class="button blue brackets">Call</a> -->
<!-- 		<a href="#" data-icon="✰" class="button pink serif skew glossy">Stars</a> -->
<!-- 		<a href="#" data-icon="✿" title="Reddit" class="button green serif back xl glass icon"></a> -->
		
<!-- 		<br /> -->
		
<!-- 		<a href="#" data-icon="✍" class="button green">Blog</a> -->
<!-- 		<a href="#" data-icon="☺" title="Love" class="button pink oval icon"></a> -->
<!-- 		<a href="#" data-icon="✪" title="Quit" class="button orange shield xl glossy icon"></a> -->
<!-- 		<a href="#" data-icon="" title="Upload" class="button blue back xl glass icon"></a> -->
<!-- 		<a href="#" data-icon="✔" title="RSS" class="button orange drop glass icon"></a> -->
		

<!-- 	</nav> -->
	
{% endblock %}
